* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: #fdf5ec;
}

.left-whole-section {
  border: 1px solid black;
  height: 48rem;
  width: 24rem;
  margin-top: 10px;
  border-radius: 12px;
}
