* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: #f1f7fa;
}

.whole-app {
  display: flex;
}

.left-whole-section {
  border: 1px solid #c9caca;
  background-color: white;
  height: 50.6rem;
  min-width: 20rem;
}

.right-content-section {
  height: 50rem;
  width: 50rem;
}

.task-choice-header {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 3.9rem;
  font-weight: 500;
  color: #325e8a;
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  border-bottom: 1px solid #c9caca;
  align-items: center;
}

.task-choice-header li {
  cursor: pointer;
}

.task-display {
  height: 680px;
}

/* SEARCH BAR */

.search-bar-display {
  height: 3.5rem;
  width: 40rem;
  color: #717070;
  font-size: 20px;
}

.search-bar-display {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline-color: #c9caca;
  display: flex;
  width: 30rem;
  border-radius: 12px;
  height: 50px;
  font-size: 18px;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  margin-left: 15px;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: none;
}

.search-bar ::placeholder {
  font-size: 18px;
}

/* TASK SECTION */

.all-tasks-page {
  height: 810px;
  width: 800px;
}

.all-tasks {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #325e8a;
  width: 50rem;
}

/* TASK BUTTONS */
.buttons-container {
  width: 300px;
}

.create-task-button,
.power-mode-button {
  font-size: 17px;
  color: #717070;
  height: 43px;
  width: 120px;
  border-radius: 5px;
  background-color: #fcf8f2;
  cursor: pointer;
  border: none;
  outline: 2px dotted #949494b8;
  margin-left: 25px;
}

.power-mode-button {
  margin-left: 7px;
}

.create-task-button:hover {
  background-color: #fff3e4e0;
}

.power-mode-button:hover {
  background-color: #fff3e4e0;
}
/* Create Task Section */

.create-task-container {
  margin-top: 20px;
  margin-left: 15px;
  height: 120px;
  width: 900px;
  border-radius: 2px;
}

.create-task-section {
  color: #325e8a;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 16px;
  width: 780px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #949494b8;
  background-color: #fff;
}

.all-tasks-p-element {
  display: flex;
  align-items: center;
  margin-left: 3px;
  padding-bottom: 10px;
}

/*  */
.create-task-header {
  color: #325e8a;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 18px;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 0.5px solid rgb(168, 171, 170);
  width: 70rem;
  height: 1.8rem;
}

.create-task-display {
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 800px;
  background-color: #fff;
  margin-top: 4rem;
  margin-left: 10rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  border-radius: 20px;
}

.create-inside-display-div {
  border-radius: 20px 0px 0px 20px;
  width: 250px;
  height: 600px;
  background-color: #fbfcf6;
  border-right: 0.5px dotted #c5c4c4;
}

.create-your-task-header {
  font-size: 20px;
  color: rgba(44, 107, 44, 0.74);
  height: 40px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(116, 202, 116, 0.318);
}

.create-task-list-div {
  height: 555px;
  width: 250px;
  /* border: 1px solid red; */
}

.task-list {
  margin-left: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid red; */
  font-size: 20px;
  list-style: none;
  color: rgba(30, 94, 30, 0.943);
}

.task-li:hover {
  cursor: pointer;
}

.project-task:hover {
  cursor: pointer;
}

.notes-task:hover {
  cursor: pointer;
}

/* User Input Side */
.users-input-div {
  height: 555px;
  width: 500px;
  margin-left: 23px;
  margin-top: 23px;
  border: 1px solid #e2eaee;
  border-radius: 3px;
}
